header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  box-shadow: 3px 3px 5px rgba(207, 207, 207, 0.2);
  padding: 10px 0;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    // flex-wrap: wrap;
    .nav__items {
      display: flex;
      align-items: center;
      gap: 20px;
      a {
        font-family: sans-serif;
        font-size: 16px;
        color: #253d4e;
        font-weight: 600;
      }
    }
    .admin {
      background: #59be29;
      color: #fff;
      padding: 10px 20px;
      border-radius: 20px 80px 20px 80px;
    }
  }
}
