.manage {
  .content {
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;

      .card {
        max-width: 300px;
        border: 1px solid grey;
        border-radius: 12px;
        overflow: hidden;
        img {
          width: 100%;
        }
        .content {
          padding: 10px;
          h2 {
            font-family: sans-serif;
            font-size: 24px;
            color: #253d4e;
          }

          .text {
            font-family: sans-serif;
            font-size: 16px;
            color: #253d4e;
            padding: 10px 0 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .btns {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 40px;
            justify-content: space-between;
            .price {
              color: #253d4e;
              font-weight: 600;
              font-family: sans-serif;
              font-size: 20px;
              padding-top: 10px;
              del {
                font-weight: 500;
                color: #7b7b7b;
              }
            }
            button {
              background: #af2e2e;
              color: #fff !important;
              padding: 5px 15px;
              border-radius: 8px;
              transition: 0.2s;
              &:hover {
                background: #5f1317;
              }
              &:active {
                background: #af2e2e;
              }
              svg {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}
